.vscode/**
.vscode-test/**
src/**
.gitignore
LICENSE
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.eslintcache
test-workspace/**
temp/**
release/**
pnpm-*
*.config.*
.github
.claude/**
logo/**
*.vsix
assets/internal/**
